@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #70CAEE, #ffffff);
    margin: 0;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
}

.pagina {
    background: rgba(255, 255, 255, 0.95);
    padding: 25px 30px;
    max-width: 500px; /* más pequeño */
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}

.pagina:hover {
    transform: scale(1.02);
}

h1 {
    font-size: 22px; /* más pequeño */
    color: #333;
    margin-bottom: 15px;
}

p {
    font-size: 15px; /* texto más compacto */
    line-height: 1.7;
    text-align: justify; /* se ve más formal */
}

.boton {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px;
    background: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: background 0.3s ease-in-out;
}

.boton:hover {
    background: #0056b3;
}
